/* Mohammad Adeel - November 3, 2020.
Note to self: Re-using all of the code for each .scss file is too wasteful.
Clean up media queries by moving all similar CSS to a mixin file.
*/
@include responsive(tab-port) {
  #banner {
    background: $desaturated-dark-cyan;
    margin-bottom: 7rem;

    img {
      max-height: 100%;
      width: 100%;
      display: block;
    }
  }

  /* Cards */
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: white;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 7px;
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 5rem;
  }

  .featured-listing {
    border-left: 2mm solid $desaturated-dark-cyan;
  }

  .shadow {
    box-shadow: 0px 15px 50px -15px hsl(180, 29%, 75%);
  }

  .logo {
    position: relative;

    img {
      position: absolute;
      transform: translateY(-75%);
      width: 88px;
    }
  }

  .job-info {
    display: flex;
    flex-basis: 4;
    max-width: 100%;
    margin-top: 1.6rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    justify-content: space-evenly;
    flex-direction: column;

    .company-and-tags {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 0.75rem;
      margin-bottom: 0.5rem;

      .company {
        font-size: 1.1rem;
        font-weight: 700;
        color: $desaturated-dark-cyan;
      }

      .tags {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 5px;

        .featured {
          background: $very-dark-grayish-cyan;
        }

        .new {
          background: $desaturated-dark-cyan;
        }

        .job-listing-tag {
          height: auto;
          font-size: 1rem;
          border-radius: 100px;
          margin-left: 10px;
          padding: 4px 10px 4px 10px;

          span {
            height: auto;
            color: white;
            font-weight: 600;
          }
        }
      }
    }

    .position {
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 0.5rem;
      color: $very-dark-grayish-cyan;

      span.position-text {
        &:hover {
          cursor: pointer;
          color: $desaturated-dark-cyan;
        }
      }
    }

    .additional-details {
      font-size: 1.1rem;
      font-weight: 500;
      color: $dark-grayish-cyan;
    }

    .interpunct {
      margin: 0px 19px 0px 19px;
      font-weight: 900;
    }
  }

  .category-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    max-width: 100%;

    .skill-tablet {
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      font-size: 1.1rem;
      font-weight: 700;
      color: $desaturated-dark-cyan;
      padding: 9.5px;
      width: auto;
      height: 38px;
      border-radius: 5px;
      margin: 9.5px 9.5px 9.5px 0px;
      background: $light-grayish-cyan-background;

      &:hover {
        cursor: pointer;
        background: $desaturated-dark-cyan;
        color: white;
      }
    }
  }

  .filter-display-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    transform: translateY(-140%);
    background: white;
    padding: 0.76rem 2.4rem 0.76rem 2.4rem;
    max-width: 100%;
    height: auto;

    .selected-filters {
      padding: 0.7rem 1rem 0.7rem 0rem;
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      max-width: 100%;

      .filter-tablet {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 12px 25px 12px 0px;

        .skill-tablet,
        .remove-button {
          display: flex;
          align-items: center;
          justify-content: center;
          white-space: nowrap;
          font-size: 1.1rem;
          font-weight: 700;
          padding: 7.3px;
          width: auto;
          height: 38px;
        }

        .skill-tablet {
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          background: $light-grayish-cyan-background;
          color: $desaturated-dark-cyan;
        }

        .remove-button {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          background: $desaturated-dark-cyan;
          color: white;

          &:hover {
            cursor: pointer;
            background: $very-dark-grayish-cyan;
            color: white;
          }
        }
      }
    }
  }

  .clear-button {
    display: flex;
    align-items: center;
    margin-left: auto;
    width: auto;
    height: auto;
    font-family: $spartan;
    font-size: 1.2rem;
    font-weight: 700;
    color: $very-dark-grayish-cyan;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
      color: $desaturated-dark-cyan;
    }
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1rem 0;
    padding: 0;
  }
}
