/* Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.google.com/specimen/Spartan");

$roboto: "Roboto", serif;
$spartan: "Spartan", sans-serif;

$breakpoints: (
  large-desktop: 1440px,
  small-desktop: 1024px,
  tablet: 768px,
  large-phone: 640px,
  small-phone: 347px,
) !default;

/* Global Styles */
:root {
  --primary-color: #dc3545;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $spartan;
  font-size: 0.938rem;
  line-height: 1.6;
  background-color: #fff;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1440px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.App {
  background: hsl(180, 52%, 96%);

  .attribution.footer {
    margin-bottom: 1rem;
  }
}

#banner {
  background: hsl(180, 29%, 50%);
  margin-bottom: 4rem;

  img {
    max-height: 100%;
    display: block;
  }
}

/* Cards */
.card {
  display: flex;
  background: white;
  padding: 2.6rem 3.2rem 2.6rem 3.2rem;
  border-radius: 7px;
  max-height: 230px;
  margin-bottom: 2.5rem;
}

.featured-listing {
  border-left: 2mm solid hsl(180, 29%, 50%);
}

.shadow {
  box-shadow: 0px 15px 50px -15px hsl(180, 29%, 75%);
}

.logo {
  width: 20%;
  height: 20%;

  .image-container {
    width: 133px;
    height: 133px;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.job-info {
  display: flex;
  width: 100%;
  max-width: 100%;
  margin-left: 1.5rem;
  justify-content: space-evenly;
  flex-direction: column;

  .company-and-tags {
    display: flex;
    flex-direction: row;
    align-items: center;

    .company {
      font-size: 1.1rem;
      font-weight: 700;
      color: hsl(180, 29%, 50%);
    }

    .tags {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 5px;

      .featured {
        background: hsl(180, 14%, 20%);
      }

      .new {
        background: hsl(180, 29%, 50%);
      }

      .job-listing-tag {
        height: auto;
        border-radius: 100px;
        margin-left: 10px;
        padding: 4px 10px 4px 10px;

        span {
          height: auto;
          color: white;
          font-weight: 600;
        }
      }
    }
  }

  .position {
    font-size: 1.5rem;
    font-weight: 700;
    color: hsl(180, 14%, 20%);

    &:hover {
      cursor: pointer;
      color: hsl(180, 29%, 50%);
    }
  }

  .additional-details {
    font-size: 1.1rem;
    font-weight: 500;
    color: hsl(180, 8%, 52%);
  }

  .interpunct {
    margin: 0px 25px 0px 25px;
    font-weight: 900;
  }
}

.category-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-flow: row-reverse;
  width: 100%;
  max-width: 100%;

  .skill-tablet {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 700;
    color: hsl(180, 29%, 50%);
    padding: 9.5px;
    width: auto;
    height: 38px;
    border-radius: 5px;
    margin: 0px 0px 0px 25px;
    background: hsl(180, 52%, 96%);

    &:hover {
      cursor: pointer;
      background: hsl(180, 29%, 50%);
      color: white;
    }
  }
}
